body{
    width:300px;
    height:190px;
    background: radial-gradient(59.14% 59.14% at 50% 93.19%, rgba(211, 208, 208, 0) 0%, #F5F5F5 100%);
    opacity: 0.85;
}

h1
{
text-align: center;
font-family: 'Montserrat', sans-serif;
}
#caption
{
position: relative;
width: 191px;
height: 24px;
top: 5px;
left: 60px;
text-align: center;

font-family: 'Montserrat', sans-serif;

font-weight: 600;
font-size: 12px;
line-height: 16px;
text-align: center;

color: #000000;
margin-bottom: 10px;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }

.switch {
    display:flex;
    position: relative;
    display: block;
    width: 50px;
    height: 28px;
    float: right;
    margin-right:19px;
    
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CF2323;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #28965A;
}

input:focus+.slider {
    box-shadow: 0 0 0.1px #28965A;
}

input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider-label {
    
    vertical-align: right; 
    padding-right: 90px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 100 px;
    margin-left: 20px;
  }